/* Write your CSS code here */
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.login-website-logo-mobile-image {
  width: 144px;
  height: 36px;
  margin-bottom: 40px;
}

.login-image {
  width: 324px;
  height: 216px;
  margin-bottom: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  border: 1px solid #cbd2d9;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-website-logo-desktop-image {
  width: 200px;
  height: 50px;
  margin-bottom: 32px;
}

.input-container {
  width: 100%;
  margin-bottom: 24px;
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 8px;
  display: block;
}

.username-input-filed,
.password-input-filed {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cbd2d9;
  font-size: 14px;
  color: #333333;
}

.login-button {
  width: 100%;
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px;
  margin-top: 24px;
  cursor: pointer;
}

.login-button:focus {
  outline: none;
}

.login-button:hover {
  background-color: #004eeb;
}
